.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 12px;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/Heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_active {
  background-image: url(../images/Union.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/State=Default.svg);
  cursor: pointer;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  background-size: 12px 15px;
  border-radius: 50%;
}

.card__delete-btn:hover {
  background-image: url(../images/State=Hover.svg);
}

.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #212121;
  line-height: 1.2;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  min-width: 0;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
